BR2_arm=y
BR2_cortex_a5=y
BR2_ARM_ENABLE_NEON=y
BR2_ARM_ENABLE_VFP=y
BR2_ARM_INSTRUCTIONS_THUMB2=y
BR2_CCACHE=y
BR2_GLOBAL_PATCH_DIR="$(BR2_EXTERNAL_XAPTUM_PATH)/patches"
BR2_TOOLCHAIN_EXTERNAL=y
BR2_INIT_SYSTEMD=y
BR2_TARGET_GENERIC_GETTY_PORT="ttyS0"
BR2_ROOTFS_OVERLAY="$(BR2_EXTERNAL_XAPTUM_PATH)/board/xaprc-common/rootfs_overlay $(BR2_EXTERNAL_XAPTUM_PATH)/board/xaprc001/rootfs_overlay"
BR2_ROOTFS_POST_BUILD_SCRIPT="$(BR2_EXTERNAL_XAPTUM_PATH)/board/xaprc001/post_build.sh"
BR2_ROOTFS_POST_IMAGE_SCRIPT="support/scripts/genimage.sh  $(BR2_EXTERNAL_XAPTUM_PATH)/board/xaprc-common/post_image.sh"
BR2_ROOTFS_POST_SCRIPT_ARGS="-c $(BR2_EXTERNAL_XAPTUM_PATH)/board/xaprc001/genimage.cfg"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_GIT=y
BR2_LINUX_KERNEL_CUSTOM_REPO_URL="git@github.com:xaptum/linux.git"
BR2_LINUX_KERNEL_CUSTOM_REPO_VERSION="f4df802f6bd13a3d299bf7ce5aa68cf7c1e59894"
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="$(BR2_EXTERNAL_XAPTUM_PATH)/board/xaprc001/linux.config"
BR2_LINUX_KERNEL_LZO=y
BR2_LINUX_KERNEL_DTS_SUPPORT=y
BR2_LINUX_KERNEL_CUSTOM_DTS_PATH="$(BR2_EXTERNAL_XAPTUM_PATH)/board/xaprc001/at91-xaprc.dts"
BR2_LINUX_KERNEL_INSTALL_TARGET=y
BR2_PACKAGE_LIBNSS=y
BR2_PACKAGE_LIBUSB=y
BR2_PACKAGE_LIBUSBGX=y
BR2_PACKAGE_IPROUTE2=y
BR2_PACKAGE_IPTABLES=y
BR2_PACKAGE_BASH=y
BR2_PACKAGE_MENDER=y
# BR2_PACKAGE_SYSTEMD_HOSTNAMED is not set
# BR2_PACKAGE_SYSTEMD_HWDB is not set
# BR2_PACKAGE_SYSTEMD_MYHOSTNAME is not set
BR2_TARGET_ROOTFS_EXT2=y
BR2_TARGET_ROOTFS_EXT2_4=y
BR2_TARGET_ROOTFS_EXT2_SIZE="64M"
BR2_TARGET_AT91BOOTSTRAP3=y
BR2_TARGET_AT91BOOTSTRAP3_CUSTOM_GIT=y
BR2_TARGET_AT91BOOTSTRAP3_CUSTOM_REPO_URL="ssh://git@github.com/xaptum/at91bootstrap.git"
BR2_TARGET_AT91BOOTSTRAP3_CUSTOM_REPO_VERSION="652c7b0b324ddf78811da59295e69bbb89e831cd"
BR2_TARGET_AT91BOOTSTRAP3_DEFCONFIG="xaprc001mmc_uboot"
BR2_TARGET_UBOOT=y
BR2_TARGET_UBOOT_BUILD_SYSTEM_KCONFIG=y
BR2_TARGET_UBOOT_CUSTOM_GIT=y
BR2_TARGET_UBOOT_CUSTOM_REPO_URL="ssh://git@github.com/xaptum/uboot.git"
BR2_TARGET_UBOOT_CUSTOM_REPO_VERSION="190f6060ef4326703c09c1551202d1a97646f593"
BR2_TARGET_UBOOT_BOARD_DEFCONFIG="xaprc001"
BR2_TARGET_UBOOT_NEEDS_DTC=y
BR2_PACKAGE_HOST_DOSFSTOOLS=y
BR2_PACKAGE_HOST_GENEXT2FS=y
BR2_PACKAGE_HOST_GENIMAGE=y
BR2_PACKAGE_HOST_MENDER_ARTIFACT=y
BR2_PACKAGE_HOST_MTOOLS=y
# BR2_PACKAGE_AMCL_RSA is not set
# BR2_PACKAGE_AMCL_CURVE_BN254CX is not set
# BR2_PACKAGE_AMCL_CURVE_ED25519 is not set
# BR2_PACKAGE_AMCL_CURVE_GOLDILOCKS is not set
# BR2_PACKAGE_AMCL_MPIN is not set
# BR2_PACKAGE_AMCL_WCC is not set
BR2_PACKAGE_CAPTIVED=y
BR2_PACKAGE_ETC_HOSTS=y
BR2_PACKAGE_ETC_HOSTS_PROD=y
BR2_PACKAGE_MENDER_ARTIFACT_INFO=y
BR2_PACKAGE_MENDER_ARTIFACT_INFO_NAME_PREFIX="xaprc001"
BR2_PACKAGE_MENDER_CERTS=y
BR2_PACKAGE_MENDER_CERTS_PROD=y
BR2_PACKAGE_MENDER_IDENTITY=y
BR2_PACKAGE_HOST_XAPRC_EVAL_TOOL=y
BR2_PACKAGE_XAP_USB_GADGET=y
BR2_PACKAGE_XAP_USB_GADGET_PRODUCT_STR="ENF Router Card"
BR2_PACKAGE_XAP_USB_GADGET_PRODUCT_ID="0x8b01"
BR2_PACKAGE_XTT=y
