[Unit]
Description=Passthrough Mode
Requires=multi-user.target
Conflicts=secure-host.target secure-lan.target
After=multi-user.target
AllowIsolate=yes
